{% extends 'to_do_list/base.html' %}

{% block head %}
    <title>Update task</title>
{% endblock %}

{% block body %}
    <div class="input-container center">
        <h1>Update Task</h1>
        <form action="/tasks/update/{{ task.id }}" method="POST" id="update_form">
            <input class="input" type="text" name="task_content" id="task_content" value="{{ task.task_content }}" id="test"/>
            <button type="submit" form="update_form" class="button">Update</button>
        </form>
    </div>
{% endblock %}